/* ==========================================================================
   CIRCULAR CLIP-PATH THEME VIEW TRANSITION
   ========================================================================== */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
  mix-blend-mode: normal !important;
}

::view-transition-old(root) {
  z-index: 1 !important;
}

::view-transition-new(root) {
  z-index: 99999 !important;
}
